body {
    font: 15px Arial, sans-serif;
    margin:10px 10%;
    width:80%;
    
    display:inline-block;
}

text {
    color:red;
}

#titlebox {
    background-color:#7cacf9;
    padding:20px 100px;
}

.small {
    font-size: .85em;
}
#container {
    min-height:400px;
    padding:1px 15px 20px 20px;
    overflow:auto;
}

.horizontal_div {
	float: left;
	height:auto;
	width: 45%;
	min-width:375px;
}

.horizontal_div + .horizontal_div {
    margin-left:50px;
}

.clearFloat{
    clear:both;
}
